/* Variables */
html {
    --page-max-width: 680px;
    --page-margin: 6vw;
}

html,
body {
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

p {
    margin: 0;
}

.width-constraining-grid {
    display: grid;
    grid-template-columns:
        1fr
        min(var(--page-max-width), calc(100% - calc(var(--page-margin) * 2)))
        1fr;
    grid-column-gap: var(--page-margin);
}

.width-constraining-grid > * {
    grid-column: 2;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
}

.content-grid > * {
    grid-column: 1 / -1;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / -1;
}
